/*********************
Variables
*********************/

$mina: 'Mina',
sans-serif;
$purp: #6441a4;
$lightpurp: #d98ee5;
$white: #fff;
$black: #000;
/*********************
Global section
*********************/

body,
html {
  font-family: $mina;
}

.container {
  margin-top: 2em;
}

/*********************
input section
*********************/

.inputFieldSelectContainer {
  text-align: center;
}

.gameSelect,
.streamerSelect {
  width: 100%;
  display: block;
  margin: 1em auto;
  text-align: center;
  background-color: $purp;
  color: $white;
  font-size: 1.1em;
  padding: 0.7em 0;
  border: 3px solid $lightpurp;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  &:active,
  &:focus,
  &:hover {
    background: transparent;
    color: $purp;
    text-decoration: none;
  }
}

.gameSearch-fields,
.streamSearch-fields {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  .form-control {
    border: 2px solid $purp;
  }
  .searchBtn {
    display: block;
    width: 100%;
    margin: 0.8em 0;
    padding: 0.5em 0;
    text-align: center;
    background-color: $purp;
    color: $white;
    border: 2px solid $purp;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    &:active,
    &:hover {
      text-decoration: none;
      background-color: transparent;
      color: $purp;
    }
  }
}

/*********************
output section
*********************/

.inner-output {
  width: 90%;
  margin: 1em auto;
}

#stream-selection {
  margin: 1em;
  padding: 0 0.5em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
<<<<<<< HEAD

  .single-stream, .single-user {
||||||| merged common ancestors

  .single-stream {
=======
  
  .single-stream,
  .single-user-stream {
>>>>>>> 47e3463a4554a737b702b3f0cfa8aab5d9571f22
    display: inline-block;
    width: 100%;
    margin: 1em auto;
    padding: 1em;
    background-color: rgba(217, 142, 229, 0.5);
    border: 2px solid $purp;
    border-radius: 5px;
    cursor: pointer;
  }
<<<<<<< HEAD

  .single-stream-title, .single-user-title {
||||||| merged common ancestors

  .single-stream-title {
=======
  .single-stream-title {
>>>>>>> 47e3463a4554a737b702b3f0cfa8aab5d9571f22
    color: $purp;
  }
  .stream-thumbnail {
    width: 150px;
    height: auto;
    margin: auto;
  }
<<<<<<< HEAD

   .user-thumbnail {
     width: 150px;
     height: auto;
     margin: auto;
   }

||||||| merged common ancestors

=======
>>>>>>> 47e3463a4554a737b702b3f0cfa8aab5d9571f22
  .search-term {
    text-transform: capitalize;
  }
  p {
    margin-bottom: 0;
  }
}

.twitch-liveStream {
  width: 100%;
  height: 30vh;
}

.twitch-liveStream {
  position: relative;
}

.close-video {
  position: absolute;
  top: 10px;
  left: 83%;
  color: $white;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.2em 0.6em;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 500px;
  font-size: 1.5em;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

/*********************
owl section
**********************/

.owl-nav {
  text-align: center;
  width: 100%;
  span {
    font-size: 2em;
    padding: 0.5em 1em;
  }
}

/*********************
Responsive section
*********************/

@media screen and (min-width: 768px) {
  .gameSearch-fields,
  .streamSearch-fields {
    input {
      display: inline-block;
      width: 80%;
    }
    .searchBtn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 18.5%;
    }
  }
<<<<<<< HEAD

  #stream-selection .single-user {
    width: 50%;
  }

||||||| merged common ancestors

=======
>>>>>>> 47e3463a4554a737b702b3f0cfa8aab5d9571f22
  .close-video {
    left: 90%;
  }
  .twitch-liveStream {
    height: 50vh;
  }
  .gameSelect,
  .streamerSelect {
    width: 48%;
    display: inline-block;
  }
}

@media screen and (min-width: 1030px) {
  .twitch-liveStream {
    height: 60vh;
  }
<<<<<<< HEAD

  #stream-selection .single-user {
    width: 30%;
  }
}
||||||| merged common ancestors
}
=======
}
>>>>>>> 47e3463a4554a737b702b3f0cfa8aab5d9571f22
