/*********************
Variables
*********************/
$mina: 'Mina', sans-serif;
$purp: #6441a4;

/*********************
Global section
*********************/

body,
html {
  font-family: $mina;
}

.container {
  margin-top: 2em;
}

/*********************
input section
*********************/

.input-fields {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;

  input {
    border: 2px solid $purp;
  }

  a {
    display: block;
    width: 100%;
    margin: 0.8em 0;
    padding: 0.5em 0;
    text-align: center;
    background-color: $purp;
    color: #fff;
    border: 2px solid $purp;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &:active,
    &:hover {
      text-decoration: none;
      background-color: transparent;
      color: $purp;
    }
  }
}

/*********************
output section
*********************/
.inner-output {
  width: 90%;
  margin: 1em auto;
}

#stream-selection {
  margin: 1em;
  padding: 0 0.5em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;

  .single-stream {
    display: inline-block;
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid #000;
    border-radius: 5px;
  }

  .single-stream-title {
    color: #fff;
  }

  .stream-thumbnail {
    width: 150px;
    height: auto;
    margin: auto;
  }

  .search-term {
    text-transform: capitalize;
  }

  p {
    margin-bottom: 0;
  }
}
/*********************
Responsive section
*********************/
@media screen and (min-width: 768px) {
  .input-fields {
    input {
      display: inline-block;
      width: 80%;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 18.5%;
    }
  }
}
